<div class="row">
<form class="cols12" [formGroup]="myForm" name="form">
    <div class="d-flex flex-row bd-highlight mb-3">
        <div class="form-group-row" style="width: 60%;"> 
            <div class="row">
                <div class="input-field col s6">
                    <label class="active" >Nombre del producto</label> 
                    <input type="text" id="ProductName" class="form-control" value="{{ProductName}}"
                        placeholder="Ingrese nombre del producto" formControlName="productname" >    
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6"> 
                    <label class="active">Categoría</label>
                    <input type="text" id="Category" class="form-control" value="{{Category}}" 
                        placeholder="Ingrese categoría del producto" formControlName="category">
                </div>  
            </div>  
            <div class="row">
                <div class="input-field col s6">
                    <label class="active">Precio</label>
                    <input currencyMask type="text" id="Price" class="form-control" value="{{Price}}" 
                        placeholder="$ 0.00" formControlName="price" [options]="{ prefix: '$ ', thousands: ',', decimal: '.', align:'left' }" >
                </div>  
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <label class="active">Cantidad</label>
                    <input type="text" id="Quantity" class="form-control" value="{{Quantity}}" 
                        placeholder="Ingrese cantidad del producto" formControlName="quantity">
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <label class="active">Inventario</label>
                    <select name="Inventario" id="Inventory" class="form-control" value="{{Inventory}}"  placeholder="Elija el estado" formControlName="inventory">
                        <option value="En Stock">En Stock</option>
                        <option value="Limitado">Limitado</option>
                        <option value="Agotado">Agotado</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <label class="active">Material primario</label>
                    <input type="text" id="Material1" class="form-control" value="{{Material1}}"  placeholder="0% material" formControlName="material1">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <label class="active">Material secundario</label>
                    <input type="text" id="Material2" class="form-control" value="{{Material2}}"  placeholder="0% material" formControlName="material2">
                </div>
            </div>

        <div class="ml-3 bd-highlight" style="width: 40%;">
            <img class="img-responsive" [src]=PhotoFilePath height="250px;" width="200px;">
            <input type="file" id="PhotoFilePath" (change)="uploadPhoto($event)"/>
            
        </div>

        <div class="input-field col s6">
            <button class="btn waves-effect waves-light" (click)="addProduct()" type="submit" id="add" 
                *ngIf="prod.ProductId==0" class="btn btn-primary" [disabled]="myForm.invalid" >
                Agregar <i class="material-icons right">send</i>
            </button>
        </div>

        <div class="input-field col s6">
            <button class="btn waves-effect waves-light" (click)="updateProduct()" 
                type="submit" id="update" *ngIf="prod.ProductId!=0" class="btn btn-primary"  
                data-bs-dismiss="modal" [disabled]="myForm.invalid">
                 Actualizar  <i class="material-icons right">send</i>
            </button>
        </div>

    </div>
</div>
</form>
</div>




