

<!-- <div id="wrapper">
  <div class="container">
    <div class="col-md-1">
      <div class="content">
        <p>left content</p>
      </div>
    </div>
    <div class="col-md-9">
      <div class="sidebar"> -->
<!-- Button trigger modal -->
<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="row">
      <div class="col-sm-6">
        <h5>PRODUCTOS</h5>
      </div>
      <div class="col-sm-3 text-center">
        <!-- <div class="d-flex flex-row">   -->
        <div class="inner-addon left-addon">    
          <input [(ngModel)]="ProductIdFilter" class="form-control" placeholder="Buscar Productos" (input)="FilterFn()">
          <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg> -->
        </div>
      </div>
      <div class="col-sm-3 text-center">
          <button type="button" class="btn btn-primary float-right"
          data-bs-toggle="modal" data-bs-target="#exampleModal"
          (click)="addClick()" data-backdrop="static" data-keyboard="false">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg> &nbsp; Añadir producto
        </button>
      </div>
      <!-- </div> -->
  </div>

      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeClick()">
                  <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <app-add-edit-products [prod]="prod" *ngIf="ActivatedAddEditProdComp"></app-add-edit-products> 
            </div>
          </div>
        </div>
      </div>
        <div class="card">
          <div class="card-header borderless">
            Lista de Productos
          </div>
          <div class="card-body">
      <table class="responsive-table borderless">
          <thead>
              <tr>
                  <th>Id</th>
                  <th>Nombre</th>
                  <th>Categoría</th>
                  <th>Precio</th>
                  <th>Cantidad</th>
                  <th>Inventario</th>
                  <th>Acción</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let dataItem of ProductsList">
                  <td>
                  <div class="center flow-text table-text">
                        {{dataItem.ProductId}}
                      </div>
                    </td>
                    <td>
                    <div class="container-data">
                      <div class="First">
                        <img class="responsive-img" [src]=PhotoFilePath+dataItem.PhotoFileName height="70px;" width="120px;" 
                        class="wdn-stretch rounded-corners"> 
                      </div>
                      <div class="Second flow-text table-text">
                        {{dataItem.ProductName}}
                      </div>
                      <div class="Third flow-text table-text">
                        {{dataItem.Material1 + "," +  dataItem.Material2}}
                      </div> 
                    </div>
                  </td>
                  <td >
                    <div class="center flow-text table-text">
                      {{dataItem.Category}}
                    </div>
                  </td>
                  <td >
                    <div class="center flow-text table-text">
                      {{dataItem.Price}}
                    </div>
                  </td>
                  <td >
                    <div class="center flow-text table-text">
                      {{dataItem.Quantity}}
                    </div>
                  </td>
                  <td>
                    <div class="center flow-text table-text" [ngSwitch]="dataItem.Inventory" >
                      <div style="color:rgb(11, 204, 11);font-weight: bold;" *ngSwitchCase="'En Stock'"><span class="dot"></span>&nbsp;&nbsp;{{dataItem.Inventory}}</div>
                      <div style="color: orange;font-weight: bold;" *ngSwitchCase="'Limitado'"><span class="dot2"></span>&nbsp;&nbsp;{{dataItem.Inventory}} </div>
                      <div style="color: red;font-weight: bold;" *ngSwitchCase="'Agotado'"><span class="dot3"></span>&nbsp;&nbsp;{{dataItem.Inventory}} </div>
                      </div>
                  </td>
                  <td>
                    <div class="center">
                      <button type="button" class="btn btn-light mr-1"
                      data-bs-toggle="modal" data-bs-target="#exampleModal"
                      (click)="editClick(dataItem)" data-backdrop="static" data-keyboard="false">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                              <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                          </svg> 
                      </button>
                      <button type="button" class="btn btn-light mr-1"
                      (click)="deleteClick(dataItem)" data-backdrop="static" data-keyboard="false" > 
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>          
                      </button>
                    </div>
                  </td>           
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- </div>
</div>
</div>
</div> -->

