<div class="row">
    <div class="container-fluid">
    <div id="content" class="col s2 left; div-1">
        <img class="responsive-img" src="http://localhost:56073/Photos/LadonwareLogo.jpg" width="300px" height="100">
    </div>
    <div class="col s12 right " >
        <div class="row" style="height: 70px;">
            <h3 class="d-flex justify-content-center flox-text">Prueba Técnica Full-Stack Developers</h3>
        </div>
        <div class="row">
            <router-outlet></router-outlet>
        </div>
    </div>
    </div>
</div>
 
<!--  <div class="container">
     <div id="content" class="column; first; div-1">
        <img src="http://localhost:56073/Photos/LadonwareLogo.jpg" width="100px" height="100">
     </div>
     <div class="column; second; right">
        <div class="container" style="height: 70px;">
            <h3 class="d-flex justify-content-center">Prueba Técnica Full-Stack Developers</h3>
        </div>
        <div class="column; third right">
            <router-outlet></router-outlet>
        </div>
        </div>
 </div> -->